singularity {
    enabled = true
    autoMounts = true
    cacheDir = System.getenv('NXF_SINGULARITY_CACHEDIR') ?: "${System.getenv('CODEX_OMICS_HOME')}/tools/nextflow/singularity-cache"
    pullTimeout = '60 min'
}

apptainer {
    enabled = true
    autoMounts = true
    cacheDir = System.getenv('NXF_APPTAINER_CACHEDIR') ?: "${System.getenv('CODEX_OMICS_HOME')}/tools/nextflow/apptainer-cache"
    pullTimeout = '120 min'
}

report {
    overwrite = true
}

timeline {
    overwrite = true
}

trace {
    overwrite = true
}
